.header {
  position: relative;
}

.header h1 {
  text-align: center;
}

form {
  display: grid;
  justify-content: center;
  margin-top: 10rem;
  padding: 2rem;
}

.input-form {
  width: 350px;
}

.close {
  position: absolute;
  top: -3px;
  right: 15px;
  color: #fff;
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 1.7rem;
  margin-left: 5rem;
}

.close:hover {
  transform: scale(0.95);
}
