.welcome-page {
  width: 450px;
  height: 90vh;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  margin-top: 3rem;
  text-align: center;
  overflow: hidden;
  background: #b5e48c;
  color: #fff;
  box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.1);
}

.welcome-part {
  width: 450px;
}

.welcome-part h1 {
  margin: 1rem 0;
}

.logIn-part {
  position: absolute;
  top: 0;
  width: 450px;
  height: 100%;
  transform: translateX(-450px);
  transition: 0.3s;
  text-align: center;
  background: red;
}

.signIn-part {
  position: absolute;
  top: 0;
  width: 450px;
  height: 100%;
  text-align: center;
  transform: translateX(450px);
  transition: 0.3s;
  background: black;
}

.signIn-part h1 {
  margin: 0.8rem 0;
}

.logIn-part h1 {
  margin: 0.8rem 0;
}

.btn {
  width: 300px;
  height: 30px;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  margin: 1rem 0;
  background: #76c893;
  color: #fff;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(0.95);
  cursor: pointer;
}
